@(intForm: Form[Interessado])

@import views.html.bootstrap3._
<fieldset>

    <!-- Header -->
    <div id="legend">
        <legend>Formulário de Inscrição</legend>
    </div>

    <!-- Name -->
    @text(intForm("primeiroNome"),
    label = "Primeiro Nome*",
    placeholder = "Primeiro Nome",
    help = "Por favor, coloque seu primeiro nome.")

    @text(intForm("sobrenome"),
    label = "Sobrenome*",
    placeholder = "Sobrenome",
    help = "Por favor, coloque seu sobrenome.")

    @text(intForm("email"),
        label = "Email*",
        placeholder = "Email",
        help = "Por favor, coloque seu email válido.")

    <!-- GPA -->
    @select(intForm("conhecimentoJava.id"),
          label = "Meu nível em PROGRAMAÇÃO é: *",
          optionMap = ConhecimentoJava.options,
          isMultiple = false,
          help = "")

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button id="submit" type="submit" value="Submit" class="btn btn-success">Enviar Inscrição</button>
        </div>
    </div>
    <br />

</fieldset>

